In [61]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="white")
import os
import plotly.express as px
from plotly.subplots import make_subplots
from plotly import graph_objects as go
import warnings
warnings.filterwarnings("ignore")

In [62]:
def rename_controlers(row):
    row = row.strip()
    dicta = {"e2e":"End-to-End","pure_pursuit":"Pure Pursuit","disparity_extender":"Disparity Extender"}
    return dicta[row]

In [63]:
two_car_experiments = pd.read_csv('safety_experiments.csv',header=None).rename(columns={0:"Experiment Number",1:"Controller",2:"Velocity",3:"Safety Percentage"})
two_car_experiments

     Experiment Number     Controller  Velocity  Safety Percentage
0                    1            e2e       1.0           0.909639
1                    2            e2e       1.0           0.900856
2                    3            e2e       1.0           0.013912
3                    4            e2e       1.0           0.013769
4                    5            e2e       1.0           0.918367
..                 ...            ...       ...                ...
139                 11   pure_pursuit       1.5           0.869107
140                 12   pure_pursuit       1.5           0.870952
141                 13   pure_pursuit       1.5           0.866567
142                 14   pure_pursuit       1.5           0.869717
143                 15   pure_pursuit       1.5           0.878257

[144 rows x 4 columns]

In [64]:
two_car_experiments.groupby(["Controller","Velocity"]).head(15).drop(columns="Experiment Number")
two_car_experiments["Controller"] = two_car_experiments["Controller"].apply(rename_controlers)
two_car_experiments

     Experiment Number    Controller  Velocity  Safety Percentage
0                    1    End-to-End       1.0           0.909639
1                    2    End-to-End       1.0           0.900856
2                    3    End-to-End       1.0           0.013912
3                    4    End-to-End       1.0           0.013769
4                    5    End-to-End       1.0           0.918367
..                 ...           ...       ...                ...
139                 11  Pure Pursuit       1.5           0.869107
140                 12  Pure Pursuit       1.5           0.870952
141                 13  Pure Pursuit       1.5           0.866567
142                 14  Pure Pursuit       1.5           0.869717
143                 15  Pure Pursuit       1.5           0.878257

[144 rows x 4 columns]

In [65]:
results=two_car_experiments.groupby(["Controller","Velocity"]).head(15).drop(columns="Experiment Number").groupby(["Controller","Velocity"]).agg(['mean', 'median','std'])*100
round(results,3)

                            Safety Percentage
                                         mean  median     std
Controller         Velocity
Disparity Extender 0.5                 62.928  62.639   0.762
                   1.0                 44.639  45.182   2.839
                   1.5                 33.584  35.698   9.178
End-to-End         0.5                 56.422  87.228  44.286
                   1.0                 43.647  15.230  45.168
                   1.5                 59.421  88.354  43.084
Pure Pursuit       0.5                 91.974  92.341   2.178
                   1.0                 94.607  94.522   0.600
                   1.5                 87.003  86.972   0.449

In [66]:
print(round(results,2).to_latex())

\begin{tabular}{llrrr}
\toprule
             &     & \multicolumn{3}{l}{Safety Percentage} \\
             &     &              mean & median &    std \\
Controller & Velocity &                   &        &        \\
\midrule
Disparity Extender & 0.5 &             62.93 &  62.64 &   0.76 \\
             & 1.0 &             44.64 &  45.18 &   2.84 \\
             & 1.5 &             33.58 &  35.70 &   9.18 \\
End-to-End & 0.5 &             56.42 &  87.23 &  44.29 \\
             & 1.0 &             43.65 &  15.23 &  45.17 \\
             & 1.5 &             59.42 &  88.35 &  43.08 \\
Pure Pursuit & 0.5 &             91.97 &  92.34 &   2.18 \\
             & 1.0 &             94.61 &  94.52 &   0.60 \\
             & 1.5 &             87.00 &  86.97 &   0.45 \\
\bottomrule
\end{tabular}