In [18]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="white")
import os
import plotly.express as px
from plotly.subplots import make_subplots
from plotly import graph_objects as go
import warnings
warnings.filterwarnings("ignore")

In [19]:
def rename_controlers(row):
    row = row.strip()
    dicta = {"e2e":"End-to-End","pure_pursuit":"Pure Pursuit","disparity_extender":"Disparity Extender"}
    return dicta[row]

In [20]:
two_car_experiments = pd.read_csv('safety_experiments_two_cars.csv',header=None).rename(columns={0:"Experiment Number",1:"Controller",2:"Velocity",3:"Safety Percentage"})
two_car_experiments

     Experiment Number     Controller  Velocity  Safety Percentage
0                    1            e2e       1.0           0.909639
1                    2            e2e       1.0           0.900856
2                    3            e2e       1.0           0.013912
3                    4            e2e       1.0           0.013769
4                    5            e2e       1.0           0.918367
..                 ...            ...       ...                ...
139                 11   pure_pursuit       1.5           0.869107
140                 12   pure_pursuit       1.5           0.870952
141                 13   pure_pursuit       1.5           0.866567
142                 14   pure_pursuit       1.5           0.869717
143                 15   pure_pursuit       1.5           0.878257

[144 rows x 4 columns]

In [21]:
two_car_experiments.groupby(["Controller","Velocity"]).head(15).drop(columns="Experiment Number")
two_car_experiments["Controller"] = two_car_experiments["Controller"].apply(rename_controlers)
two_car_experiments['Number of Opponents'] = 1
two_car_experiments

,Experiment Number,Controller,Velocity,Safety Percentage,Number of Opponents
0,1,End-to-End,1.0,0.909639,1
1,2,End-to-End,1.0,0.900856,1
2,3,End-to-End,1.0,0.013912,1
3,4,End-to-End,1.0,0.013769,1
4,5,End-to-End,1.0,0.918367,1
...,...,...,...,...,...
139,11,Pure Pursuit,1.5,0.869107,1
140,12,Pure Pursuit,1.5,0.870952,1
141,13,Pure Pursuit,1.5,0.866567,1
142,14,Pure Pursuit,1.5,0.869717,1
143,15,Pure Pursuit,1.5,0.878257,1

In [23]:
results=two_car_experiments.groupby(["Controller","Velocity"]).head(15).drop(columns="Experiment Number").groupby(["Controller","Velocity",'Number of Opponents']).agg(['mean', 'median','std'])*100
round(results,3)

                                                Safety Percentage          \
                                                             mean  median
Controller         Velocity Number of Opponents
Disparity Extender 0.5      1                              62.928  62.639
                   1.0      1                              44.639  45.182
                   1.5      1                              33.584  35.698
End-to-End         0.5      1                              56.422  87.228
                   1.0      1                              43.647  15.230
                   1.5      1                              59.421  88.354
Pure Pursuit       0.5      1                              91.974  92.341
                   1.0      1                              94.607  94.522
                   1.5      1                              87.003  86.972


                                                    std
Controller         Velocity Number of Opponents
Disparity Extender 0.5      1                     0.762
                   1.0      1                     2.839
                   1.5      1                     9.178
End-to-End         0.5      1                    44.286
                   1.0      1                    45.168
                   1.5      1                    43.084
Pure Pursuit       0.5      1                     2.178
                   1.0      1                     0.600
                   1.5      1                     0.449

In [66]:
print(round(results,2).to_latex())

\begin{tabular}{llrrr}
\toprule
             &     & \multicolumn{3}{l}{Safety Percentage} \\
             &     &              mean & median &    std \\
Controller & Velocity &                   &        &        \\
\midrule
Disparity Extender & 0.5 &             62.93 &  62.64 &   0.76 \\
             & 1.0 &             44.64 &  45.18 &   2.84 \\
             & 1.5 &             33.58 &  35.70 &   9.18 \\
End-to-End & 0.5 &             56.42 &  87.23 &  44.29 \\
             & 1.0 &             43.65 &  15.23 &  45.17 \\
             & 1.5 &             59.42 &  88.35 &  43.08 \\
Pure Pursuit & 0.5 &             91.97 &  92.34 &   2.18 \\
             & 1.0 &             94.61 &  94.52 &   0.60 \\
             & 1.5 &             87.00 &  86.97 &   0.45 \\
\bottomrule
\end{tabular}

In [26]:
three_car_experiments = pd.read_csv('safety_experiments_three_cars.csv',header=None).rename(columns={0:"Experiment Number",1:"Controller",2:"Velocity",3:"Safety Percentage"})
three_car_experiments.groupby(["Controller","Velocity"]).head(15).drop(columns="Experiment Number")
three_car_experiments["Controller"] = three_car_experiments["Controller"].apply(rename_controlers)
three_car_experiments['Number of Opponents'] = 2
three_car_experiments

,Experiment Number,Controller,Velocity,Safety Percentage,Number of Opponents
0,1,End-to-End,1.0,0.893006,2
1,2,End-to-End,1.0,0.890100,2
2,1,End-to-End,1.0,0.889521,2
3,2,End-to-End,1.0,0.886467,2
4,1,End-to-End,1.0,0.890943,2
...,...,...,...,...,...
158,15,Pure Pursuit,1.5,0.727411,2
159,16,Pure Pursuit,1.5,0.538762,2
160,17,Pure Pursuit,1.5,0.427852,2
161,18,Pure Pursuit,1.5,0.439507,2
162,19,Pure Pursuit,1.5,0.866060,2

In [27]:
results2=three_car_experiments.groupby(["Controller","Velocity"]).head(15).drop(columns="Experiment Number").groupby(["Controller","Velocity",'Number of Opponents']).agg(['mean', 'median','std'])*100
round(results2,3)

                                                Safety Percentage          \
                                                             mean  median
Controller         Velocity Number of Opponents
Disparity Extender 0.5      2                              62.105  61.936
                   1.0      2                              39.642  40.035
                   1.5      2                              33.885  36.644
End-to-End         0.5      2                              85.227  85.410
                   1.0      2                              89.275  89.234
                   1.5      2                              66.709  83.874
Pure Pursuit       0.5      2                              85.441  86.474
                   1.0      2                              92.205  94.522
                   1.5      2                              65.343  78.931


                                                    std
Controller         Velocity Number of Opponents
Disparity Extender 0.5      2                     0.680
                   1.0      2                     2.398
                   1.5      2                     9.149
End-to-End         0.5      2                     2.271
                   1.0      2                     0.427
                   1.5      2                    26.415
Pure Pursuit       0.5      2                     3.671
                   1.0      2                     9.057
                   1.5      2                    23.596